  <div id="rule_box">
    <h2 class="sub-header">Rule</h2>
      <div id="game_rule">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>max round</th>
                <th>initial stack</th>
                <th>small blind</th>
                <th>ante</th>
                <th>number of AI players</th>
                <th>action</th>
              </tr>
            </thead>

            <form action="/a/config" method="post" id="config_form" class="form-inline">
            <tbody>
              <tr>
                <td>
                    <input type="number" name="max_round" value="{{ config.rule['max_round'] }}" id="max_round" class="form-control" placeholder="Max Rounds">
                </td>
                <td>
                    <input type="number" name="initial_stack" value="{{ config.rule['initial_stack'] }}" id="initial_stack" class="form-control" placeholder="Initial Stack">
                </td>
                <td>
                    <input type="number" name="small_blind" value="{{ config.rule['small_blind'] }}" id="small_blind" class="form-control" placeholder="Small Blind">
                </td>
                <td>
                    <input type="number" name="ante" value="{{ config.rule['ante'] }}" id="ante" class="form-control" placeholder="Ante">
                </td>
                <td>
                    <input type="number" name="ai_players" value="{{ 1 }}" id="ai_players" class="form-control" placeholder="AI players">
                </td>
                <td>
                    <input id="config_form_submit" type="submit" value="{{ _("update") }}"}} class="btn btn-primary">
                </td>
              </tr>
            </tbody>
            </form>
          </table>
        </div>
      </div>
  </div>
  <div id="player_box">
    <h2 class="sub-header">Players</h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>player type</th>
            <th>player name</th>
            <th>Action</th>
          <tr>
        </thead>
        <tbody>
            {% for player in config.members_info %}
              {% include "player.html" %}
            {% end %}
            <tr>
              <form action="/a/register" method="post" id="registration_form" class="form-inline">
                <td>
                  <select name="player_type" class="form-control" id="player_type_select">
                    <option value="ai">ai</option>
                    <option value="human">human</option>
                  </select>
                </td>
                <td>
                  <input name="body" id="player_name" class="form-control" placeholder="Enter your name">
                </td>
                <td>
                  <input id="registration_form_submit" type="submit" value="{{ _("Register") }}" class="btn btn-primary">
                </td>
              </form>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
