<div id="waiting_room">
  <h1 class="page-header">Game Settings</h1>
  <div id="config_box">
    {% include "game_config.html" %}
  </div>
  <div id="input_box">
    <form action="/a/start_game" method="post" id="start_game_form">
      <div class="form-group"><!-- need this element for margin --></div>
      <input type="submit" value="{{ _("Start Poker") }}" class="btn btn-success">
      <input type="hidden" name="next" value="{{ request.path }}">
      {% module xsrf_form_html() %}
    </form>
  </div>
  <div></div> <!-- for adding space -->
</div>
